:root{
    --destaque-color--: #ad30e1 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #000;
}
.dark{
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#particles-js{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #e9e9e9;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    z-index: -100;
}
.dark #particles-js{
    background-color: #1e1e1e;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #FFFFFf;
}
.dark .top-nav{
    background-color: #0f0f0f;
}
.logo{
    color: var(--destaque-color--);
    font-size: 30px;
    display: flex;
    align-items: center;
    & span{
        font-weight: 400;
        font-size: 20px;
        color: #777;
        margin-left: 7px;
        border-left: 1px solid;
        padding: 5px 7px;
    }
}
.button-area{
    display: flex;
    flex-direction: column;
    color: #777;
    & button{
        border-radius: 20px;
        margin-top: 5px;
        background-color: #ad30e1;
        border: none;
        color: #FFFFFf;
        padding: 3px ;
    }
}
.dark #mode{
    color: #0f0f0f;
}



.top-header{
    display: flex;
    padding: 30px 40px;
    justify-content: space-around;
    align-items: center;
    & .info-container{
        width: 40%;
        & h1{
            font-size: 45px;
        }
        & h2{
            font-weight: 400;
            color: #777;
        }
    }
    & .image-container{
        width: 40%;
        & img{
            width: 80%;
        }
    }
}
.buttons-container{
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.primary{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--destaque-color--);
    color: #FFFFFf;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 3px 20px #0000006f;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.secondary{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f2f2f2;
    color: #777;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 3px 20px #0000006f;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.dark .secondary{
    background-color: #161616;
}


.area-hability{
    margin-top: 70px;
    padding: 30px 40px;
    background-color: #efefef;
}
.dark .area-hability{
    background-color: #0f0f0f;
}
.section-title{
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: 1px solid;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
}
.card{
    text-align: center;
    font-size: 22px;
    width: 30%;
    min-width: 180px;
    background-color: #dfdfdf;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px #aaa;
    color: #777;
    transition: all .3s ease;
    & i{
        font-size: 80px;
        margin-bottom: 15px;
    }
}
.dark .card{
    background-color: #161616;
    box-shadow: 0px 2px 20px #000;
}
.card:hover{
    color: var(--destaque-color--);
    transform: scale(1.05);
}

@media screen and (max-width: 550px) {
    #particles-js{
        height: 140vh;
        top: 70px;
    }
    .top-header{
        flex-direction: column;
        padding: 20px;
        & .info-container{
            width: 100%;
            padding: 20px;
            margin-bottom: 100px;
            margin-top: 80px;
            & .logo{
                font-size: 30px;
            }
            & h2{
                font-size: 20px;
            }
            .buttons-container .primary, .secondary{
                padding: 8px 20px;
                font-size: 16px;
            }
        }
        & .image-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .area-hability .card-container{
        padding: 20px 0;
        justify-content: space-around;
        & .card{
            font-size: 16px;
            min-width: 120px;
            width: 20%;
            padding: 15px 10px;
            & i{
                font-size: 30px;
            }
        }
    }
}