:root{
    --destaque-color--: #ad30e1 ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #000;
    transition: all .3s ease;
}
.dark{
    color: #fff;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#particles-js{
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #e9e9e9;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    z-index: -100;
}
.dark #particles-js{
    background-color: #1e1e1e;
}

.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #FFFFFf;
}
.dark .top-nav{
    background-color: #0f0f0f;
}
.logo{
    color: var(--destaque-color--);
    font-size: 30px;
    display: flex;
    align-items: center;
    & span{
        font-weight: 400;
        font-size: 20px;
        color: #777;
        margin-left: 7px;
        border-left: 1px solid;
        padding: 5px 7px;
    }
}
.button-area{
    display: flex;
    flex-direction: column;
    color: #777;
    & button{
        border-radius: 20px;
        margin-top: 5px;
        background-color: #ad30e1;
        border: none;
        color: #FFFFFf;
        padding: 3px ;
        cursor: pointer;
    }
}
.dark #mode{
    color: #0f0f0f;
}



.top-header{
    display: flex;
    padding: 30px 40px;
    justify-content: space-around;
    align-items: center;
    & .info-container{
        width: 40%;
        & h1{
            font-size: 45px;
        }
        & h2{
            font-weight: 400;
            color: #777;
        }
    }
    & .image-container{
        width: 40%;
        & img{
            width: 80%;
        }
    }
}
.buttons-container{
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}
.primary{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--destaque-color--);
    color: #FFFFFf;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 3px 20px #0000006f;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}
.secondary{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f2f2f2;
    color: #777;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 3px 20px #0000006f;
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
}
.dark .secondary{
    background-color: #161616;
}


.About-me{
    background-color: #dfdfdf;
    margin-top: 70px;
    padding: 30px 40px;
    & h2{
        margin-bottom: 20px;
    }
    & p{
        padding: 10px 25px;
    }
}
.dark .About-me{
    background-color: #161616;
}

.area-hability{
    padding: 30px 40px;
    background-color: #efefef;
}
.dark .area-hability{
    background-color: #0f0f0f;
}
.section-title{
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
    border-bottom: 1px solid;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px 70px;
}
.card{
    text-align: center;
    font-size: 22px;
    width: 30%;
    min-width: 180px;
    background-color: #dfdfdf;
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 20px #aaa;
    color: #777;
    transition: all .3s ease;
    & i{
        font-size: 80px;
        margin-bottom: 15px;
    }
}
.dark .card{
    background-color: #161616;
    box-shadow: 0px 2px 20px #000;
}
.card:hover{
    color: var(--destaque-color--);
    transform: scale(1.05);
}


.projects-area{
    background-color: #f8f8f8;
    padding: 30px 40px;
}
.projects{
    margin: 40px 10px;
    display: flex;
    background-color: #dfdfdf;
    padding: 15px 20px;
    border-radius: 10px;
    gap: 25px;
    & img{
        width: 45%;
        border-radius: 5px;
    }
}
.info-project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & .title{
        font-size: 25px;
    }
    & p{
        border-left: 2px solid var(--destaque-color--);
        padding: 5px 10px;
    }
}
.dark .projects-area{
    background-color: #1f1f1f;
}
.dark .projects{
    background-color: #111111;
}

.footer-cont{
    background-color: #fefefe;
    padding: 30px 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & div{
        width: 50%;
    }
}
#contato{
    padding: 10px;
    & .logo{
        margin-bottom: 15px;
    }
    & p{
        margin-top: 10px;
    }
    & .inp{
        background-color: #ccc;
        padding: 5px 10px;
        margin-top: 5px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 340px;
        & input{
            width: 65%;
            border: none;
            background-color: transparent;
            color: #111111;
        }
        & .copy{
            border: none;
            border-left: 1px solid;
            background-color: transparent;
            padding-left: 5px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.dark #contato .inp{
    background-color: #1f1f1f;
    & input{
        color: #fefefe;
    }
    & .copy{
        color: #fefefe;
    }
}
.social{
    border-left: 2px solid var(--destaque-color--);
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    & h2{
        width: 100%;
    }
    & a{
        text-decoration: none;
        margin-top: 15px;
        text-align: center;
        color: var(--destaque-color--);
        & i{
        font-size: 35px;
        }
    }
}
.marca{
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 12px;
    margin-top: 20px;
}

.dark .footer-cont{
    background-color: #000;
}

@media screen and (max-width: 550px) {
    #particles-js{
        height: 140vh;
        top: 70px;
    }
    .top-nav{
        justify-content: space-between;
        padding: 20px 20px;
        & .logo{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & span{
                display: none;
            }
        }
    }
    .top-header{
        flex-direction: column;
        padding: 20px;
        & .info-container{
            width: 100%;
            padding: 20px;
            margin-bottom: 100px;
            margin-top: 80px;
            & .logo{
                font-size: 30px;
            }
            & h2{
                font-size: 20px;
            }
            & .buttons-container{
                
                & .primary, .secondary{
                    padding: 8px 20px;
                    font-size: 16px;
                }
            }
        }
        & .image-container{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .area-hability .card-container{
        padding: 20px 0;
        justify-content: space-around;
        & .card{
            font-size: 16px;
            min-width: 120px;
            width: 20%;
            padding: 15px 10px;
            & i{
                font-size: 30px;
            }
        }
    }
    .projects{
        flex-direction: column;
        & img{
            width: 100%;
        }
    }
    .buttons-area{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
        text-align: center;
        & .secondary{
            margin: 0;
            letter-spacing: 0px;
        }
    }
    .footer-cont{
        flex-direction: column;
        padding: 30px 10px;
        gap: 25px;
        align-items: flex-start;
    }
    .footer-cont > div{
        width: 100%;
    } 
    .social{
        padding: 20px 10px;
        border: none;
    }
}